<div id="<%= dom_id style %>">
  <p>
    <strong>Name:</strong>
    <%= style.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= style.description %>
  </p>

  <p> Beers </p>
  <% style.beers.each do |beer| %>
    <%= link_to beer.name, beer %> <br/>
  <% end %>

</div>
<br/>